<p id="sub_header_lead">優しい英語で書いたウェブマガジン。単語の意味も辞書要らずのポップアップで簡単チェック。ボキャブラリーがどんどん増えます！</p>

<ul id="latest_articles">
  <% @articles.each do |article| %>
    <%= link_to article do %>
      <li>
        <%= image_tag(article.image_url(:in_focus)) %>
        <div class="article_info">
          <h2><span class="topic_marker"><%= article.topic.name %></span> <%= article.title %></h2>
          <p><i><%= article.pubdate.strftime("%Y年%m月%d日") %> 掲載　<%= article.author.name+" 著"  unless article.author.name == "SEZ"%></i></p>
          <p><%= article.description %></p>
          <%= render 'layouts/study_tools', :a => article %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

