<section id="latest_articles">
  <ul>
    <% @articles.each do |article| %>
      <li class="bubble_wrapper">
        <%= image_tag(article.image_url(:thumb), :class => "bubble_trigger") if article.image? %>
        <div class="bubble_info">
          <h1><%= link_to article.title, article %></h1>
          <p><%= article.description %></p>
          <a class="bubble_close">Close</a>
        </div>
      </li>
    <% end %>
  </ul>
</section>

<section id="featured_article">

</section>

<section id="latest_blog_posts">
  <ul>
    <% @posts.each do |post| %>
      <li class="bubble_wrapper">
        <%= image_tag(post.image_url(:thumb), :class => "bubble_trigger") if post.image? %>
        <div class="bubble_info">
          <h1><%= link_to post.title, post %></h1>
          <p><%= truncate(post.body, :length => 200, :omission => '...') %></p>
          <a class="bubble_close">Close</a>
        </div>
      </li>
    <% end %>
  </ul>
</section>
