<section id="latest_articles">
  <ul>
    <% @articles.each do |article| %>
      <li class="bubble_wrapper">
        <%= image_tag(article.image, :class => "bubble_trigger") unless article.image.empty? %>
        <div class="bubble_info">
          <h1><%= link_to article.title, article %></h1>
          <p><%= article.description %></p>
          <p><%= "Includes Audio!" if article.audio %></p>
          <a class="bubble_close">Close</a>
        </div>
      </li>
    <% end %>
  </ul>
</section>

<section id="featured_article" class="bubble_wrapper">
  <%= image_tag(@featured.image_url(:featured), :class => "bubble_trigger") unless @featured.image.empty? %>
  <div class="bubble_info">
    <h1><%= link_to @featured.title, @featured %></h1>
    <p><%= @featured.description %></p>
    <p><%= "Includes Audio!" if @featured.audio %></p>
    <a class="bubble_close">Close</a>
  </div>
</section>

<section id="latest_blog_posts">
  <ul>
    <% @posts.each do |post| %>
      <li class="bubble_wrapper">
        <%= image_tag(post.post_image_url(:main), :class => "bubble_trigger") unless post.post_image.empty? %>
        <div class="bubble_info">
          <h1><%= link_to post.title, post %></h1>
          <p>
            <%= raw post.body %>
          </p>
          <a class="bubble_close">Close</a>
        </div>
      </li>
    <% end %>
  </ul>
</section>
