<section id="featured_article">
  <%= image_tag(@in_focus.image_url(:in_focus)) %>
  <div class="pub_info">
    <h2><%= link_to @in_focus.title, article_path(:id => @in_focus.id) %></h2>
    <p><%= @in_focus.description %></p>
    <% unless @in_focus.audio.empty? %>
      <p class="includes_audio">音声付き!</p>
    <% end %>
  </div>
</section>

<section id="latest_articles">
  <ul>
    <% @features.each do |f| %>
      <li>
        <%= image_tag(f.image_url(:main)) %>
        <div class="pub_info">
          <h2><%= link_to f.title, article_path(:id => f.id) %></h2>
          <p><%= f.description %></p>
          <% unless f.audio.empty? %>
            <p class="includes_audio">音声付き!</p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>

<section id="latest_blog_posts">
  <ul>
    <% @posts.each do |p| %>
      <li>
        <%= image_tag(p.image_url(:main)) %>
        <div class="pub_info">
          <h2><%= link_to p.title, post_path(:id => p.id) %></h2>
          <p><%= p.description %></p>
        </div>
      </li>
    <% end %>
  </ul>
</section>