<section id="featured_article">
  <div id="in_focus"><%= image_tag(@in_focus.image_url(:in_focus)) %></div>
  <div class="pub_info">
    <h2><%= link_to @in_focus.title, article_path(:id => @in_focus.id) %></h2>
    <p><%= @in_focus.description %></p>
    <%= render 'layouts/study_tools', :a => @in_focus %>
  </div>
</section>

<section id="latest_articles">
  <ul>
    <% @features.each do |f| %>
      <li>
        <%= image_tag(f.image_url(:main)) %>
        <div class="pub_info">
          <h2><%= link_to f.title, article_path(:id => f.id) %></h2>
          <p><%= f.description %></p>
          <%= render 'layouts/study_tools', :a => f %>
        </div>
      </li>
    <% end %>
  </ul>
</section>

<section id="latest_blog_posts">
  <ul>
    <% @posts.each do |p| %>
      <li>
        <%= image_tag(p.image_url(:main)) %>
        <div class="pub_info">
          <h2><%= link_to p.title, article_path(:id => p.id) %></h2>
          <p><%= p.description %></p>
          <%= render 'layouts/study_tools', :a => p %>
        </div>
      </li>
    <% end %>
  </ul>
</section>