<% if @article.pubtype == "feature" %>
  <section id="feature_top">
    <figure>
      <%= image_tag(@article.image) %>
      <% unless @article.image_attribution.empty? %>
        <figcaption>Image by <%= @article.image_attribution %></figcaption>
      <% end %>
    </figure>
    <div id="intro">
      <h1><%= link_to "SEZ", root_path %></h1>
      <h2><%= @article.title %></h2>
      <p><%= @article.pubdate.strftime("%B %d, %Y") %></p>
      <p><%= @article.author %></p>
      <p><%= @article.description %></p>
    </div>
  </section>
<% else %>
  <section id="article_top">
    <figure>
      <%= image_tag(@article.image) %>
      <% unless @article.image_attribution.empty? %>
        <figcaption>Image by <%= @article.image_attribution %></figcaption>
      <% end %>
    </figure>
      <h1><%= link_to "[ SEZ ]", root_path %></h1>
      <h2><%= @article.title %></h2>
  </section>
<% end %>
