<div id="article_top">
  <figure>
    <%= image_tag(@article.image) %>
  </figure>
  <div id="intro">
    <p class="topic_marker"><%= @article.topic.name %></p>
    <h2><%= @article.title %></h2>
    <p><%= @article.pubdate.strftime("%Y年%m月%d日") %> 掲載<br />
      <%= "#{@article.author.name} 著" unless @article.author.name == "SEZ" %></p>
    <% unless @article.image_attribution.blank? %>
      <p>画像提供元：<%= raw @article.image_attribution %></p>
    <% end %>
    <p><%= @article.description %></p>
    <%= render 'layouts/study_tools', :a => @article %>
  </div>
</div>
