<article>
  <header>
    <h1><%= @article.title %></h1>
  </header>
  <section>
    <%= raw @body %>
  </section>
  <section>
    <ul>
      <% @vocabulary_words.each do | vocab | %>
        <li><%= vocab.word %> (<%= vocab.part_of_speech %>): <%= vocab.definition %> [<%= vocab.translation %>]</li>
      <% end %>
    </ul>
  <footer>
    <%= @article.author %>
  </footer>
</article>
