<article>
  <section id="article_body">
    <% unless @article.quiz.nil? %>
      <p class="preview_study">読む前に単語を<%= link_to("クイズゲーム", game_path(@article.quiz.id), :class => "quiz_game_link") %>でチェック！</p>
    <% end %>
    <%= raw @article.figure unless @article.figure.nil? %>
    <%= raw @article.body %>

    <%= render 'layouts/social_media_recommend' %>
  </section>

  <section id="next_reads">
    <h3>次に読むのは．．．</h3>
    <p><%= link_to("同じカテゴリー"+@article.topic.name, @article.topic, :class => "topic_marker") %>についてもっと読む。それとも最近の記事を読む：</p>
    <ul>
      <% unless @article.previous.nil? %>
        <%= link_to @article.previous do %>
          <li>
            <%= image_tag(@article.previous.image_url(:thumb)) %>
            <p><em>前の記事：</em> <%= @article.previous.title %></p>
          </li>
        <% end %>
      <% end %>
      <% unless @article.next.nil? %>
        <%= link_to @article.next do %>
          <li>
            <%= image_tag(@article.next.image_url(:thumb)) %>
            <p><em>次の記事：</em> <%= @article.next.title %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>

  <%= render 'layouts/article_study_sections' %>

  <footer>
    <%= render 'layouts/author_bio', :author => @article.author %>
    <%= render 'layouts/article_tags' %>
  </footer>
</article>

