<article>
  <header>
    <h1><%= link_to "SEZ", root_path %></h1>
    <h2><%= @post.title %></h2>
  </header>
  <section>
    <%= image_tag(@post.post_image_url(:main)) %>
    <%= raw @body %>
  </section>
  <footer>
    <p>Posted on <%= @post.updated_at.strftime("%B %d, %Y") %> by <%= @post.author %></p>
  </footer>
</article>