%h2 #{@topic.name}

%p.header-lead #{@topic.description}

%section.catalog

  %ul
    - @articles.each do |article|
      = link_to article do
        %li.catalog-entry
          = image_tag article.image_url(:in_focus)
          .catalog-entry-info
            %h2 #{article.title}
            %p
              %i
                = "#{article.pubdate.strftime('%Y年%m月%d日')} 掲載　#{article.author.name}著" unless article.author.name == "SEZ"
            %p #{article.description}
            = render 'layouts/study_tools', :article => article



