<% unless @article.vocab.blank? %>
  <section id="vocab">
    <h3>Vocabulary</h3>
    <ul>
      <% @article.vocab.each do | vocab | %>
        <%= content_tag :li, :id => vocab.word.tr(" ", "_")+'_detail' do %>
          <strong><%= vocab.word %></strong> (<%= vocab.part_of_speech %>): <%= vocab.definition %> 【<%= vocab.translation %>】
        <% end %>
      <% end %>
    </ul>
  </section>
<% end %>
<% unless @culture_notes.blank? %>
  <section id="culture_notes">
    <h3>Culture Notes</h3>
    <ul>
    <% @culture_notes.each do | entry | %>
      <%= content_tag :li, :id => entry.title.tr(" ", "_")+'_detail' do %>
        <strong><%= entry.title %></strong>: <%= raw entry.body %>
      <% end %>
    <% end %>
    </ul>
  </section>
<% end %>
<% unless @study_notes.blank? %>
  <section id="study_notes">
    <h3>Study Notes</h3>
    <ul>
    <% @study_notes.each do | entry | %>
      <%= content_tag :li, :id => entry.title.tr(" ", "_")+'_detail' do %>
        <strong><%= entry.title %></strong>: <%= raw entry.body %>
      <% end %>
    <% end %>
    </ul>
  </section>
<% end %>
<% unless @article.audio.blank? %>
  <section id="audio">
    <h3>Audio</h3>
    <%= raw @article.audio %>
  </section>
<% end %>