<footer id="main_footer">
  <nav>
    <ul>
      <ul>
        <li>Art and Entertainment</li>
        <li>Society</li>
        <li>Food</li>
        <li>Tokyo</li>
        <li>Interview</li>
        <li>History</li>
        <li>Science</li>
        <li>Sports</li>
      </ul>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Archive", archive_path %></li>
        <li><%= link_to "Contribute", contribute_path %></li>
        <li><%= link_to "Blog", blog_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Google +</li>
        <li>Digg</li>
        <li>Reddit</li>
        <li>Pinterest</li>
      </ul>
      <ul id="license">
        <li>Join the mailing list</li>
        <li>RSS feed</li>
        <li><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a></li>
      </ul>
    </ul>
  </nav>
</footer>