<footer id="main_footer">
  <nav>
    <ul id="topics">
      <% @topics_menu.each do |topic| %>
        <li><%= link_to topic.name, topic %></li>
      <% end %>
    </ul>
    <ul id="about">
      <li><%= link_to "ホーム", root_path %></li>
      <li><%= link_to "SEZとは", about_path %></li>
      <li><%= link_to "Contribute", contribute_path %></li>
      <li><%= link_to "お問合せ", contact_path %></li>
    </ul>
    <ul id="social_media">
      <li><%= link_to image_tag('/images/fb.png', :alt => "Follow us on Facebook"), "http://www.facebook.com/SimpleEnglishZine", :title => "Follow us on Facebook" %></li>
      <li><%= link_to image_tag('/images/twitter.png', :alt => "Follow us on Twitter"), "https://twitter.com/SimpleEngZine", :title => "Follow us on Twitter" %></li>
      <li><%= link_to image_tag('/images/atom_feed.png', :alt => "Subscribe to our Atom feed"), feed_path, :title => "Subscribe to our Atom feed" %></li>
    </ul>
    <ul id="license">
      <li><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a></li>
      <li>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a></li>
    </ul>
  </nav>
</footer>