<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
<%= render 'layouts/head' %>
<%= render 'layouts/social_media_meta' %>
</head>
<body>

<%= render 'layouts/article_top_nav' unless mobile_device? %>

<%= render 'article_header' unless mobile_device? %>


<div id="wrapper" >

<%= yield %>

<%= render 'layouts/footer' %>



</div>

</body>
</html>
